*{
    margin: 0px;
    padding: 0px;
}
h2{
    background-color: chocolate;
    height: 300px;
    padding-top: 100px;
    font-size: 60px;
    padding-left: 50px;
    padding-right: 5px;
    color: wheat;
}